{% load static %}
{% include 'profile/base.html' %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />       
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> 
    <title>Task | Create Task</title>    
      
</head>
<body>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h2 class="text-center"> Create a Task</h2>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Create Task" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
    <!-- <script>
    // JavaScript function to display the message
    function displayMessage(message) {
        alert(message);
    }

    // Example usage
    var errorMessage = "You are not authorized to create tasks.";
    displayMessage(errorMessage); -->
</script>
</body>
</html>
