{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Task | Dashboard</title>
</head>
<body>
    {% include 'profile/base.html' %}
    <style>
    /* Define animation */
    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    /* Apply animation to the h3 element */
    h3.animate-title {
        animation: slideInFromLeft 0.5s ease-out;
    }
</style>

<div class="container text-center">
    <!-- <div class="dashboard-box"> Add a class for the box -->
    <br><hr>
    <!-- Add class to the h3 element for animation -->
    <h3 class="animate-title">This is our Dashboard page!</h3>
    <hr>
    <p>Welcome, to Task Management <br><br>Keep track of your records effectively</p>
    <a href="{% url 'profile-management' %}" class="btn btn-info">Profile Management</a>
</div>

    
      
</body>
</html>
