{% load static %}
{% include 'profile/base.html' %}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />       
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">   
    <title>Task | Delete Account</title>    
</head>
<body>
<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h2 class="text-center"> Delete Account</h2>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p>Are you sure want to delete this account "{{object}}"?</p>
                <a href="{% url 'profile-management' %}" class="btn btn-info">Go Back</a>
                <br><br><br><br>
                <input type="submit" value="Delete Account" class="btn btn-primary">
            </form>
            <br>
            
        </div>
    </div>
</div>
</body>
</html>
