{% load static %}
{% include 'profile/base.html' %}
<!-- profile_update_form.html -->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />       
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> 
    <title>Task | Profile Management</title>      
</head>
<body>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h2 class="text-center">Update your Profile</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="container bg-white shadow-md p-5 form-layout" style="margin-top: 20px;">
                <h2 class="text-center">Delete Account</h2>
                <hr>
          
                <a href="{% url 'delete-account' %}" class="btn btn-info">Delete your Account</a>
            </div>
        </div>
    </div>
</body>
</html>
