<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Confirmation</title>
</head>
<body>

<script>
    var confirmLogout = confirm("Are you sure you want to logout?");
    if (confirmLogout) {
        // Redirect to the logout URL
        window.location.href = "{% url 'my-login' %}";
    } else {
        // Redirect to the dashboard URL or any other page
        window.location.href = "{% url 'dashboard' %}";
    }
</script>

</body>
</html>
